<!-- /Views/Shared/CivilsPartial.cshtml -->
@model IEnumerable<C_Hero.Models.Entities.CivilModel>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de Naissance</th>
                <th>Nationalité</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Commentaires</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var civil in Model)
            {
                <tr>
                    <td>@civil.FirstName</td>
                    <td>@civil.LastName</td>
                    <td>@civil.BirthDate.ToString("dd/MM/yyyy")</td>
                    <td>@civil.Nationality</td>
                    <td>@civil.Address</td>
                    <td>@civil.CellPhone</td>
                    <td>@civil.Email</td>
                    <td>@civil.Comment</td>
                </tr>
            }
        </tbody>
    </table>
</div>