@model IEnumerable<C_Hero.Models.Entities.MissionModel>

<table class="table">
    <thead>
        <tr>
            <th>Date de Création</th>
            <th>Type</th>
            <th>Titre</th>
            <th>Informations Complémentaires</th>
            <th>Déplacement</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mission in Model)
        {
            <tr>
                <td>@mission.Creation.ToString("dd/MM/yyyy")</td>
                <td>@mission.Type</td>
                <td>@mission.Title</td>
                <td>@mission.MoreInfo</td>
                <td>@mission.Travel</td>
            </tr>
        }
    </tbody>
</table>

